.question-container{
    display: flex;
    justify-content: center;
    background-color: lightblue;
}
.question-ans{
    /* display: flex; */
    width: 50%;
}
.question-ans h3,p{
    margin: 10px;
}
.question-ans h3{
    font-size: 1.5rem;
}
@media only screen and (max-width: 600px) {
    .question-container{
        display: block;
    }
    .question-ans{
        width: 100%;
    }
  }